BASE_URL=https://api.temiwa.com/
WEB_URL=https://temiwa.com/
ADMIN_URL=https://dev.temiwa.com/
GOOGLE_MAPS_API_KEY=IzaSyAbAKIZGxrlrDnb9g1R5L6dB6sQPHuHaJ0
FIREBASE_API_KEY=AIzaSyBnyg4rjjOAsCqDuYYGZQBjp6RYn3DSa7Y
URL_PREFIX=https://temiwa.page.link
ROUTING_API=https://api.openrouteservice.org/
ROUTING_KEY=5b3ce3597851110001cf62482a0a2a48818847b1b2560cead8287ea6
PAYFAST_PASSPHRASE=
PAYFAST_MERCHANT_ID=
PAYFAST_MERCHANT_KEY=
FACEBOOK_APP_ID=1011717883744036
FACEBOOK_CLIENT_TOKEN=624e02d27e2f8f903fddd8b4dfa144b4
